.about{
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}


.skills {
    text-decoration: none;
    font-size: 14px;
    padding: 8px 15px;
    width: 100px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .skills:hover {
    border: 1px solid #15ff00;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #15ff00;
    cursor: pointer
  }





@media (max-width: 560px){
    .about{
        grid-template-columns: 100%;
    }
}