.about {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}
.aboutText{
  line-height: 2;
}

.conteinerIcon{
  display: grid;
  grid-template-columns: repeat(auto-fill,95px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
  

}

.html {
  justify-self: center;
  align-items: center;
  display: flex;

}

.html:hover{
 color: orange;
 cursor: pointer;

}
.css{
  justify-self: center;
  align-items: center;
  display: flex;
}

.css:hover{
  color: rgb(70, 82, 248);
  cursor: pointer;
 
 }
 .js{
  justify-self: center;
  align-items: center;
  display: flex;
}

.js:hover{
  color: rgb(255, 217, 0);
  cursor: pointer;
 
 }

 .vue{
  justify-self: center;
  align-items: center;
  display: flex;
}

.vue:hover{
  color: rgb(21, 151, 27);
  cursor: pointer;
 
 }

 .react{
  justify-self: center;
  align-items: center;
  display: flex;
}

.react:hover{
  color: rgb(1, 137, 248);
  cursor: pointer;
 
 }

 .node{
  justify-self: center;
  align-items: center;
  display: flex;
}

.node:hover{
  color: rgb(29, 122, 57);
  cursor: pointer;
 
 }

 .mysql{
  justify-self: center;
  align-items: center;
  display: flex;
}

.mysql:hover{
  color: rgb(17, 74, 138);
  cursor: pointer;
 
 }

 .git{
  justify-self: center;
  align-items: center;
  display: flex;
  /* color: white; */
}

.git:hover{
  color: rgb(0, 93, 199);
  cursor: pointer;
 
 }

 .fire{
  justify-self: center;
  align-items: center;
  display: flex;
}

.fire:hover{
  color: yellow;
  cursor: pointer;
 
 }


 

@media (max-width: 560px) {
  .about {
    grid-template-columns: 100%;
  }
  .conteinerIcon {
    grid-template-columns: 25%;
    grid-template-columns: repeat(auto-fill, 80px);
    gap: 40px;
    padding: 40px;
    justify-content: center;

  }
  .item{
    justify-self: center;
    align-items: center;
    display: flex;
    padding: auto;
    
  
    grid-template-columns: repeat(auto-fill, minmax (300px, 1fr));
  
  }
}
