ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-bottom:#15ff00 1px solid;
  


}

ul.topnav li {
  /* float: left; */
  display: inline-block;
  
  
}

ul.topnav li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  

  
}

ul.topnav li a:hover:not(.active) {
  background-color: rgb(0, 0, 0);
  /* color: #15ff00; */
  /* border-bottom:#15ff00 1px solid; */

  
}
ul.topnav li a:hover:not(.desactive) {
  background-color: rgb(0, 0, 0);
  color: #15ff00;
  /* border-bottom:#15ff00 1px solid; */
}

@media screen and (max-width: 600px) {
  ul.topnav li {
    /* justify-content: center; */
   
    flex-wrap: wrap;
     float: center;
  }
}